numpy==1.26.4
requests==2.31.0
pandas==2.1.1
pyarrow==13.0.0
python-dotenv==1.0.0
sqlalchemy==2.0.21
psycopg2-binary==2.9.9
minio==7.2.0
dbt-core==1.11.12
dbt-postgres==1.11.0
great_expectations==1.1.0